body{
    height:100vh;
    font-family: Arial, sans-serif;
    background-image: url('./img/fondo.webp');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;/*  desaparecer barra de scroll*/
    overflow-x: hidden;/*  desaparecer barra de scroll*/ }
    

    header{
        background-color:transparent ;
        display:flex;
        padding-left:75%;
       
    }
    .navbar {
        background-color:transparent;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        border: 2px solid #ffffff;
        border-radius: 5px; 
        color: #ffffff;
        
    }
    .dropdown-menu {
        background-color:transparent;   
        backdrop-filter: blur(5px); /* Efecto de desenfoque detrás del menú */
       
        box-shadow: none; /* Opcional: elimina la sombra */
    }
    
    .dropdown-item {
        color: #ffffff; 
    }
    .notif{
        background-color: transparent;
        display: flex;
    }
    
    .dropdown-item:hover {
        background-color: rgba(0, 0, 0, 0.1); 
    }
    section{
        background-color: transparent;
        display:flex;
        
    }
    section>table.table>thead>tr>th{
        background-color: transparent;
       
        text-decoration: none;
        color: rgb(255, 255, 255);
        

    }
    section>table.table>tbody>tr>td{
        background-color: transparent;
       
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    div.pedidos>h1{
        color: rgb(255, 255, 255);
    }
    div#gastos>div>div>div>h6{
        background-color: transparent;
       
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    div.card{
        background-color: transparent;
       
        text-decoration: none;
        color: rgb(255, 255, 255);
        border: 2px solid #ffffff;
    }
    div>h1{
        padding-left: 30px;
    }
    div>div#btn_user{
        padding-left: 35px;
        color: #ffffff;
        background-color: transparent;
    }
    div>div#btn_user>button{

        background-color: transparent;
        border: 2px solid #ffffff;
    }

    aside{
        background-color: transparent;
        border: 2px solid #ffffff;

    }


    
    